streamlit
langgraph
langchain-groq
langchain-chroma
langchain-community
langchain-huggingface
langchain-text-splitters
pypdf
python-dotenv
sentence-transformers
pytest
flake8
python-docx
beautifulsoup4
pytesseract
pandas
fpdf2
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform == 'linux'
torchvision
protobuf==3.20.3